* {
  font-family: monospace;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: grey;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
}

.nav li button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

button {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.grid-container img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hidden {
  display: none;
}
